<html>
<head> 
<h1><br>Welcome : Admin </h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="library/LMS.css">
</head>
<body>
  <div class="fix-navbar">
    <a href="stud_dashboard">Students Dashboard</a>
    <a href="stud_registration">User Sign Up</a>
    <a href="stud_login">User Login</a>
    <a href="#"> 
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    </a>
    <a>Welcome : Student Dashboard</a>
    <a href="stud_home">Log Out</a>
    <a href="/">Exit</a>
  </div>

<div class="sidenav">
  <a href="">Profile</a>
  <a href="">Search Author</a>
  <a href="">Issued Book</a>
  <a href="">Return Book</a>
  <a href="">Due of Book</a>
  <hr>
  <a href="">Contact</a>
   <a href="">About Us</a>
  <hr>
  <a href="stud_home">Log Out</a>
  <a href="/">Exit</a>
</div>

</body>
</html>